<header class="site-header">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link" href="mailto:NerdLabYYC@gmail.com"><span class="fa fa-envelope"></span><span class="screen-reader-text">Email</span></a><a class="social-link" href="https://www.facebook.com/NerdLabYYC"><span class="fa fa-facebook"></span></a><span class="screen-reader-text">Facebook</span><a class="social-link" href="https://twitter.com/NerdLabYYC"><span class="fa fa-twitter"></span><span class="screen-reader-text">Twitter</span></a>
    </div>
    <a class="site-title" href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/img/nerdlabyyc-logo.png" alt="NerdLab YYC"></a>

    <nav class="site-nav">

      <div class="trigger">
        <ul class="menu-list">
          {% assign sortedPages = site.pages | sort:"weight" %}
          {% for p in sortedPages %}
            {% if p.title and p.weight %}
            <li class="menu-list__item">
            <a {% if p.url == page.url %} class="menu-link active" {% else %} class="menu-link" {% endif %} href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

  </div>

</header>
