<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}Heather Tovey{% endif %}">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Cutive' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Hotjar Tracking Code for nerdlabyyc.com -->
  <script>
      (function(f,b){
          var c;
          f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
          f._hjSettings={hjid:38069, hjsv:4};
          c=b.createElement("script");c.async=1;
          c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
          b.getElementsByTagName("head")[0].appendChild(c); 
      })(window,document);
  </script>

  <script type="text/javascript">
    var host = "nerdlabyyc.com";
    if ((host == window.location.host) && (window.location.protocol != "https:")) {
      window.location.protocol = "https";
    }
  </script>

</head>