 <script type="text/javascript">var submitted=false;</script>
 <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='http://localhost:4000/thank-you/';}"></iframe>

<div class="slack-form-wrapper">
	<p>Sign up with your email address and we'll send you a Slack invite as soon as possible.</p>

	<form class="slack-form" action="https://docs.google.com/forms/d/e/1FAIpQLScrAJ7QeSnFpUwNpICMiXR5lqFSwPnUoDDacZJxyQQDeJKl8A/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
		<div class="slack-input-wrapper">
			<label class="slack-label" for="slack-EA">Email Address</label>
			<input class="slack-input slack-ea" type="email" name="entry.1533805657" id="slack-EA" value="" required placeholder="jane@doe.com">
            <span class="slack-validation"></span>
		</div>
		<input class="slack-submit" type="submit" value="Request Invite" />
	</form>

	<hr />
	<div>
		<p class="small-text">Not sure what Slack is? That's okay! We've all been there.</p>
		<p class="small-text"><a href="https://slack.com">Slack</a> is a platform for communication. The NerdLab YYC community uses it to stay in touch between events (in addition to our newsletter). Sign up for an invite above and join us to try it out.</p>
	</div>
</div>