@import 'normalize';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
    // font-size: $base-font-size;
    // font-family: $base-font-family;
    // line-height: 1.6;
    color: $text-color;
    font-weight:300;
}
a {
    text-decoration:none;
    border-bottom:1px solid $brand-color-dark;
    color:$brand-color-dark;
}

img {
    max-width:100%;
}

a:hover {
    color:$text-color;
}

.align-center {
    display:block;
    margin:auto;
}

.text-align-center {
    text-align:center;
}

.tagline__header {
    margin:0;
    line-height:1.5;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    text-transform:uppercase;
}

.tagline__container {
    max-width: 832px;
    margin: auto;
    padding: 100px 10px;
}

.tagline__description {
    color: #FFFFFF;
    font-weight:300;
    font-size: 18px;
    letter-spacing: 0.25px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
    margin-bottom:20px;
    margin-top:50px;
}

.section-header {
    margin-top:0;
    margin-bottom:1rem;
}

.section__tagline {
    text-align:center;
    position:relative;
    overflow:hidden;
}

// @media (min-width: 1024px) {
//     .section__tagline {
//         padding: 13rem 0;
//     }
// }

.color-background {
    background-color: $background-color;
}

.image-background {
    background-image: linear-gradient(to right, #6c655f 0%, #675e55 50%, #92877c 75%, #b8ada5 100%);
    background-image: url(../img/masthead.jpg);
    background-size:cover;
    background-color: #665e58;
    filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(1.03);
}

// @media (min-width: 720px) {

//     .image-background {
//         background-image: url(../img/masthead-medium.jpg);
//     }

// }

// @media (min-width: 1024px) {

//     .image-background {
//         background-image: url(../img/masthead-large.jpg);
//     }
// }

.post-header, footer, .button {
    text-align: center;
}




.meetup-link {
    color: $text-color-light;
    text-decoration:none;
    text-align:center;
    padding:7px 20px;
    background-color: $brand-color;
    border-radius:5px;
    font-size:16px;
    display:inline-block;
}



.meetup-link:hover {
    background-color:$brand-color-dark;
    color: $text-color-light;
}


.meetup-link--join {
    margin-top:30px;
}

.meetup-link--rsvp {
    margin-top:10px;
}

.meetup-link-post {
    text-align:center;
    margin: 4rem 0;
}

.meetup-link-post-footer {
    text-align:center;
}

.strikethrough {
    text-decoration: line-through;
}

.coc__container {
    background-color:$text-color;
    padding:20px;
}

.footer__coc {
    max-width:1240px;
    margin:auto;
    text-align:left;
    color:$text-color-light;
}

.footer__coc a {
    color: #EA8A96;
    border-bottom: 2px solid #EA8A96;
}

.footer__coc a:hover {
    color:$brand-color;
    border-bottom:2px solid $brand-color;
}

.site-attribution__container {
    padding:10px 20px;
}

.site-attribution {
    float:left;
    font-size:12px;
    text-align:left;
    font-weight:400;
}

.site-name {
    text-transform:uppercase;
}

.social-links {
    text-align:right;
    float:right;
    font-size:16px;
}

.social-link {
    border-bottom:0;
    margin-left: 30px;
}

.social-link img {
    max-width:30px;
}

// Sticky Footer using Min Height

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -214px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 214px;
}


// @media (min-width:560px) {

// 	.page-wrap {
// 	  margin-bottom: -183px;
// 	}
// 	.site-footer, .page-wrap:after {
// 	  height: 183px;
// 	}

// }

// @media (min-width:737px) {

// 	.page-wrap {
// 	  margin-bottom: -141px;
// 	}
// 	.site-footer, .page-wrap:after {
// 	  height: 141px;
// 	}

// }

// @media (min-width:1062px) {

// 	.page-wrap {
// 	  margin-bottom: -120px;
// 	}
// 	.site-footer, .page-wrap:after {
// 	  height: 120px;
// 	}

// }


.post-content {
    max-width:700px;
    margin:4rem auto;
    padding:0 10px;
}

// @media (min-width:400px) {
//     .post-content {
//         margin:2rem auto;
//     }
// }

// @media (min-width:850px) {
//     .post-content {
//         margin:3rem auto;
//     }
// }

.section__upcoming-event {
    text-align:center;
    margin: 50px 0;
}

.post-header {
    background-image: url(../img/background.png);
    background-color: $background-color;
    padding: 2rem 10px;
}

.post-title {
    margin: 2rem 0;
}

.image-caption {
    margin-bottom:1rem;
}

.blog-post__list {
    padding:0;
    margin:0;
}

.blog-post__list-item {
    list-style-type:none;
}

.blog-post__list-item + .blog-post__list-item {
    border-top: 1px solid $grey-color-light;
    margin-top:2rem;
    padding-top:2rem;
}

.blog-list-header {
    margin:0;
    padding-bottom:3px;
}

// @media (min-width:700px) {
//     .blog-list-header {
//         font-size:25px;
//     }
// }

.blog-list-header__link {
    border-bottom:none;
    padding-top:10px;
}

.author-link {
    border-bottom:2px solid $text-color;
    color: $text-color;
}

.post-date {
    font-size:14px;
}

.event-detail.fa {
    line-height:1.5;
}
.event-detail:before {
    padding-right:5px;
}



.hidden {
    display:none !important;
}

.meetup-details {
    font-size:1rem;
    text-align:left;
    max-width:200px;
    margin: 0 auto 1rem;
}

// @media (min-width:400px) {
//     .event-date {
//         margin-right:20px;
//     }
//     .meetup-details {
//         text-align:center;
//         display:inline-block;
//         max-width: 1000px;
//     }
// }
// @media (min-width:605px) {
//     .meetup-details {
//         position:relative;
//         display:inline-block;
//     }

//     .meetup-details:before {
//         right: 100%;
//         margin-right: 25px;
//     }

//     .meetup-details:after {
//         left: 100%;
//         margin-left: 25px;
//     }
//     .meetup-details:before, .meetup-details:after {
//         content: "";
//         position: absolute;
//         top: 50%;
//         height: 3px;
//         width: 90px;
//         display: block;
//         margin-top: -1px;
//         border-top: 2px solid $grey-color;
//     }
// }

.event-description {
    max-width:700px;
    margin:auto;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.preloader {
    width:100px;
}


.container {
    padding: 0 10px;
}

.twitter-tweet {
    margin:auto;
}

.italic {
    font-style:italic;
}

.interview-intro, .post-footer {
    background: $background-color;
    padding: 1rem;
}

.post-footer {
    border: 5px solid $brand-color;
}

.post-footer-header {
    font-size: 20px;
    text-align: center;
    margin-top:0;
    margin-bottom: 1rem;

}

.footnote-wrapper {
}

.footnote-wrapper a {
    border-width:1px;
}
.cc-license {
    border:none;
}


// Email Newsletter Sign-up

.sign-up {
    box-shadow: 0px 6px 30px rgba(0,0,0,0.6);
    height:50px;
    .email-input {
        margin-bottom: 10px;

        input {
            height:50px;
            width: 100%;
            padding: 5px 20px;
            font-size: 16px;
            border:none;
            text-align:center;
        }
    }

    .submit-button {
        display:inline-block;
        text-transform:uppercase;
        height:50px;
        width:100%;
        @include button-bg($brand-color);
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 1.4px;
        border: none;
        text-transform: uppercase;
        font-weight: 400;
        cursor: pointer;
        position:relative;
        top: -1.5px;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.6);
    }
}


@media (min-width: 400px) {
    .sign-up {
        display:inline-block;
        width: 100%;
        max-width: 500px;
        .email-input {
            display:inline-block;
            margin-bottom: 0;
            width:calc(100% - 125px);

            input {
                text-align:left;
            }
        }

        .submit-button {
            box-shadow:none;
            width:125px;
        }
    }
}

// Sponsor Page
.sponsor-image {
    display:block;
    margin:25px auto;
}