.header-wrapper {
    max-width: 1125px;
    margin:auto;
}


.logo {
    max-width:100px;
}

.site-title {
    border-bottom:none;
}

.menu-list {
    margin:0;
    padding:0;
}

.menu-button {
    float:right;
    margin-top:40px;
    margin-right:10px;
    background: none;
    border: 1px solid $grey-color;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 5px;
}

.menu-button:active {
    background:$grey-color-light;
}

@media (max-width:684px) {


    .menu-list {
        max-height: 0;
        overflow: hidden;
        background: $text-color;
        -webkit-transform: perspective(600) rotate3d(1,0,0,-90deg);
        -webkit-transform-origin: 50% 0;
        -webkit-transition: 350ms;
        -moz-transition: 350ms;
        -o-transition: 350ms;
        -ms-transition: 350ms;
        transition: 350ms;
        position:absolute;
        width:100%;
    }
    .open .menu-list {
        max-height: 1000px;
        -webkit-transform: perspective(600) rotate3d(0,0,0,0);
    }

    .menu-link {
        padding: 0 2%;
        display:block;
        border-top: 1px solid $grey-color-dark;
        height: 44px;
        line-height: 44px;
        color:white;
        border-bottom:none;
        font-size:15px;
    }

    .menu-link:hover {
        color:white;
        background:$grey-color-dark;
    }
}


@media (min-width:685px) {

    .site-header {
        padding: 0 20px;
    }

    .site-nav {
        float: right;
        line-height: 98px;
    }
    .menu-link {
        font-size:12px;
        color:$text-color;
        text-decoration:none;
        text-transform:uppercase;
        letter-spacing:1px;
        border:none;
        font-weight:700;
    }

    .menu-link:hover {
        border-bottom:2px solid $brand-color-dark;
    }

    .menu-link.active {
        border-bottom:2px solid $brand-color-dark;
    }
    .menu-button {
        display:none;
    }

    .site-header {
        padding-top: 5px;
    }

    .menu-list {
        display:inline-block;
    }

    .menu-list__item {
        display:inline-block;
        margin-left:50px;
    }


}