body {
    font-size: 16px;
}

@media (min-width:400px) {
    body {
        font-size:$base-font-size;
    }
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cutive;
    font-weight:400;
    line-height:1.4;
}


h1, h2, h3, h4, h5, h6 {
    margin:0;
}
p {
    margin-top:0;
}

h2 {
    margin-top: 3rem;
}

h2 {
    font-size: 20px;
    font-size: 1.25rem;
}

h3 {
    font-size:18px;
    font-size: 1.125rem;
}

@media (min-width:481px) {
    h2 {
        font-size: 25px;
        font-size: 1.5625rem;
    }

    h3 {
        font-size: 20px;
        font-size: 1.25rem;
    }


}

@media (min-width:700px) {
    h2 {
        font-size: 30px;
        font-size: 1.875rem;
    }

}