<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="site">
    <div class="page-wrap">
      {% include header.html %}
      <main class="site-content">
        <div class="page-content">
          <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
            </header>
            <div class="post-content">
              <ul class="blog-post__list">
                {% for post in site.posts %}
                  <li class="blog-post__list-item">
                    <h2 class="blog-list-header">
                      <a class="blog-list-header__link" href="{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    {{ post.excerpt }}
                    <div class="post-date">
                      {{ post.date | date: '%B %d, %Y' }}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </main>
    </div>
      {% include footer.html %}

  </body>

</html>
